html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

.header--dark {
    background-color: rgb(51,57,64); /*req*/
    color: rgb(236,236,236); /*req*/
    padding: 0.7rem 1rem 0.6rem 1rem;
    display: flex;
    flex-wrap: nowrap;
}

.header__title {                                   
    font-size: 1.25rem; /*req*/
    font-weight: 100;
    display: inline-block; /*req*/              
    margin: 0;
    min-width: fit-content;
    flex:20%;
}

.header__menu {
    flex: 5%;
    padding-top: 0.3rem;
    /*min-width: fit-content;*/
}

.header__search {
    display: inline-block; /*req*/
    flex: 75%;
    text-align: right;
    min-width: fit-content;
}

.search__input{
    border-radius: 4px 0 0 4px; /*req*/
    padding: 0.375rem 0.75rem; /*req*/
    font-size: 1.2rem; /*req*/
    width: 60%;
    max-width:16rem;
    border: none;
    transition: border 15s;
}

input:focus {
    border: 1px solid rgb(128,189,255);
}

.search__btn {
    background-color: rgb(0,123,255); /*req*/
    color: #fff;
    border-radius: 0 4px 4px 0;
    padding: 0.375rem 0.75rem;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    margin: 0 1rem 0 -0.3rem;
}

.main__nav {
    background-color: rgb(33,37,41); /*req*/
    color:rgb(144,144,144);
}

.nav__ul {
    list-style-type: none;
    padding: 1rem;
}

.nav__ul li {
    padding: 0.5rem 0;
}

.nav__ul li > span {
    font-size: 0.6rem;
    font-weight: 900;
}

.nav__ul li a {
    text-decoration: none;
    color:rgb(144,144,144);
}

.nav__ul li a:hover {
    color:rgb(255,255,255);
}

.main__breadcrumb {
    background-color: rgb(233,236,239); /*req*/
    border-radius: 0.25rem; /*req*/
    padding: 1rem 1.5rem; /*req*/

}